{% extends "layout.html" %}

{% block content %}
    <div class="home_stream">
        <h2>Latest Ratings</h2>
        
        {% for rating in latest_ratings %}
            <div class="stream_rating_card">
                <div>
                    <img src="{{ rating.user.avatar(50) }}" alt="user avatar" class="stream_avatar">
                    <p>
                        <a href="#">{{ rating.user.username }}</a> is smoking a <a href=" {{ url_for('view_cigar',cigar_name= rating.cigar.cigar_name) }}">{{rating.cigar.cigar_name}}</a> by <a href="#">{{rating.cigar.brand}}</a> 
                        {% if rating.location != 'none' %} 
                            at {{ rating.get_name(rating.location) }} 
                        {% endif %}
                    </p>
                </div>
                <div class="comment_rating">
                    <p class="comment">{{ rating.comment }}</p>
                    <div class="rating_size">
                        <p>Rating:<span class="stars" data-rating="{{ rating.rating }}" data-num-stars="5" ></span></p>
                        <p>Size: {{ rating.size }}</p>
                    </div>
                </div>
                <div>    <!-- Will be used to add comments in future-->
                    <button>Comment</button>
                    <button>Like</button>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block additional_sidebar %}
    <div class="top_cigars">
    <h1>Top Cigars</h1>
        {% for cigar in top_cigars %}
            {{ cigar.cigar_name}}
        {% endfor %}
    </div>
{% endblock %}

