<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>CigarRater</title>
        <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Norican|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    </head>
    <body>
        <header>
            <!-- NAV BAR-->
            <nav class="navbar">
                <div class="navbar-wrap">
                    <div class="brand">
                        <a href="{{ url_for('index') }}"><h2>Social Stogie</h2></a>  <!--Brand Place Holder -->
                    </div>
                    <div class="nav-items">                  
                        {% if current_user.is_authenticated %}
                            <div class="dropdown">
                                <img src="{{current_user.avatar(55)}}" 
                                    alt="user profile picture" class="drop_avatar">
                                <!-- Drop Down Menu for User Profile Options -->
                                <div class="dropdown-content">
                                    <a href="#">My Profile</a>
                                    <a href="#">Friends</a>
                                    <a href="#">Account Settings</a>
                                    <a href="{{ url_for('logout') }}">Logout</a>
                                </div>
                                <div></div>
                            </div>
                        {% else %}
                            <a href="{{ url_for('login') }}">Login</a>
                            <a href="{{ url_for('register')}}">Register</a>
                        {% endif %}
                    </div>
                    <div class="search">
                        <form action="{{ url_for('search') }}" method="GET"> 
                            <input type="text" placeholder="Find a Cigar" name="search" />
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form> 
                    </div>
                    
                </div>
            </nav>
            <!-- End Nav Bar -->
        </header>
        <div class="container">   <!-- Main Grid Container -->    
            <main class="content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </main>
            <!-- Shows User info only if current user is Logged in.  Will be moving later to different homepage if not logged in-->
            <aside class="sidebar">
                {% if current_user.is_authenticated %}    
                    <div class="user_info_card"> 
                        <div class="user_info">
        
                            <img src="{{current_user.avatar(100)}}" alt="user profile picture" class="user_card_avatar" />
                            
                            <div class="user_name">
                                <h2>{{ current_user.first_name }} {{ current_user.last_name }}</h2>
                                <p>&commat; {{ current_user.username }}</p>
                            </div>  
                        </div>
                        <div class="user_numbers">
                            <div>
                                <h3>{{current_user.total_cigar_rating()}}</h3>
                                <p>Total</p> 
                            </div> 
                            <div>
                                <h3>{{current_user.unique_cigar_rating()}}</h3>
                                <p>Unique</p>
                            </div>
                            <div>
                                <h3>[PH]</h3>
                                <p>Friends</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% block additional_sidebar %}
                <!-- Additonal Side Bar Content -->
                {% endblock %}
            </aside>
            <footer class="footer"> 
                <p>A Ratings App built with Flask <br>
                    by <a href="http://belangerbrothers.com">Belanger Brothers</a></p>
            
            </footer>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaNxYmnJEWRheLD2cjBs4lIbzC113uakU&libraries=places"></script>
        <script type="text/javascript" src="/static/js/cigarrater.js"></script>
    </body>
</html>