<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>CigarRater</title>
        <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <script src="https://use.fontawesome.com/4de60f1073.js"></script>
    </head>
    <body>
        <header>
            <!-- NAV BAR-->
            <nav class="navbar">
                <div class="navbar-wrap">
                    <div class="brand">
                        <h2>CigarRater</h2>  <!--Brand Place Holder -->
                    </div>
                    <div class="nav-items">                  
                        {% if current_user.is_authenticated %}
                            <div class="dropdown">
                                <button class="dropbtn">Profile</button> 
                                <!-- Drop Down Menu for User Profile Options -->
                                <div class="dropdown-content">
                                    <a href="{{ url_for('logout') }}">Logout</a>
                                </div>
                            </div>
                        {% else %}
                            <a href="{{ url_for('login') }}">Login</a>
                        {% endif %}
                    </div>
                        <form action="{{ url_for('search') }}" method="GET"> 
                            <input type="text" placeholder="Find a Cigar or Brand" name="search" />
                            <button type="submit">Search</button>
                        </form> 
                    
                </div>
            </nav>
            <!-- End Nav Bar -->
        </header>
        <div class="container">   <!-- Main Grid Container -->    
            <main class="content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </main>
            <aside class="sidebar">[Additional Content or Menu] </aside>
            <footer class="footer"> 
                <p>A Ratings App built with Flask <br>
                    by <a href="http://belangerbrothers.com">Belanger Brothers</a></p>
            
            </footer>
        </div>
    </body>
</html>