{% extends "layout.html" %}


{% block content %}
<h1>{{ cigar.cigar_name }}</h1>
<h3>Average Rating: 
    {% if cigar.rating_amount().count() != 0 %}
        {{ cigar.avg_rating }} 
    {% else %}
        No Ratings
    {% endif %}
</h3>
<h3>Total Ratings : {{ cigar.rating_amount().count() }} </h3>
<form action="" method="POST">

    {{ form.hidden_tag() }}
    {{ form.errors }}
    {{ form.size }}

    {{ form.comment }}
<div class="cigar_rating_range">
    {{ form.rating }}
    <span class="cigar_rating__value">0</span>
</div>
<div>
    <p>
        Location:
        <select id='rating_location' name='rating_location'>
            <option value="none">None</option>
        </select>
    </p>
</div>
<button type="submit" id='submit'>Rate It</button>
</form>


<button id="test_search">Add Location</button>

<div id="map"></div>
{% endblock %}
