{% extends "layout.html" %}


{% block content %}
    <form action="{{ url_for('search') }}" method="GET" id="search_form"> 
        <input type="text" value="{{ keyword }}" name="search" />
        <input type="hidden" id="sort" name="sort"  value="cigar_name_asc" />
        <input type="submit" />
    </form> 
    <h2 class="">Results</h2>

    <div id="Cigars">
        <p>Sort By:
            <select class="cigar_sort_options">
                {% for key, value in sort_options.items() %}
                    <option value='{{ key }}' {% if sort_filter == key %}selected{%endif%} >{{ value }}</option>
                {% endfor %}
            </select>
        </p>
        {% for cigar in cigar_results %}
            <div class="cigar-item">
                <h2><a href="/cigar/{{ cigar.cigar_name }}">{{cigar.cigar_name }}</a></h2>
                <p>{{ cigar.brand }}</p>
                <p>{{ cigar.body }}</p>
                <p>{{ cigar.avg_rating }}</p>
            </div>   
        {% endfor %}
    </div>

    <!-- Allow user to add Cigar if not found -->
    <p>Don't see what you're looking for? <br>
    <a href="{{ url_for('new_cigar') }}"> Add it here </a>
    </p>
{% endblock %}
